<steps xmlns="http://chouser.n01se.net/traction/config">
  <init>
    <set duration="1000" />
    <set i="title" opacity="0" />
    <set i="formats-top" opacity="0" />
    <set i="read-detail" opacity="0" />
    <set i="eval-detail" opacity="0" />
    <set i="print-detail" opacity="0" />
  </init>
  <step view="view-title">
    <set i="title" opacity="1" once="true" />
    <ul xmlns="http://www.w3.org/1999/xhtml">
      <li>Hope you already know a little about ClojureScript</li>
      <li>Compare compilers</li>
      <li>Ready?</li>
    </ul>
  </step>
  <step view="view-main" />
  <step>
    <set i="formats-top" opacity="1" />
  </step>
  <step view="view-read" />
  <step>
    <set i="read-detail" opacity="1" />
  </step>
  <step view="view-eval" />
  <step>
    <set i="eval-detail" opacity="1" />
  </step>
  <step view="view-eval-detail" />
  <step view="view-analyze" />
  <step view="view-pojos" />
  <step view="view-analyze" />
  <step view="view-nested-maps" />
  <step view="view-analyze" />
  <step view="view-emit-in" />
  <step view="view-emit-out" />
  <step view="view-load" />
  <step view="view-eval" />
  <step view="view-print" />
  <step>
    <set i="print-detail" opacity="1" />
  </step>
  <step view="view-print-detail" />
  <step view="view-loop" />
  <step view="view-main" />
</steps>
